<div class="header_first">
    <img src="<%= imgHeaderFirst %>" class="img_header_first">
</div>
<div class="header_second">
    <div class="header_wrap">
        <div class="header_navigator">
            <div>
                <button class="icon_menu _active">
                    <span></span>
                </button>
            </div>
            <div>
                <img src="/img/smile.svg" >
            </div>
            <button class="header_button" type="button"><div class="header_button_text">Kаталог</div></button>
            <div class="search_wraper">
                <div class="search_img_wrapper">
                    <img src="/img/search.png" class="search">
                </div>
                <input type="search" placeholder="я шукаю.." class="input_header">
                <div class="voice_img_wrapper">
                    <img src="/img/voice.svg" class="voice">
                </div>
                <button class="button_search">Знайти</button>
            </div>
            <div class="header_icons_wraper">
                <div>RU</div>
                <div class="icon_ua_wrap">
                    <img src="/img/flag-ua.svg">
                    <div>UA</div>
                </div>
                
            </div>
        </div>
    </div>
</div>