<!DOCTYPE html>
<html>

<head>
    <title>rozetka</title>
    <meta name="description" content="Коти в домашніх умовах">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <header>
        <%- include('partials/header'); %>
    </header>

    <div class="main">
        <div class="second_wrapper">
            <%- include('partials/main'); %>
        </div>
    </div>




</body>


</html>